/************************* Body ************************/

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
}

/************************* Header ************************/

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    height: 40px;
    text-align: center;
    position: relative;
}

header h1 {
    margin: 0;
    font-size: 32px;
}

/************************* Main ************************/

main {
    padding: 20px;
}

/************************* Filtres ************************/

#tri {
    text-align: center;
    margin-bottom: 20px;
}

#tri button {
    background-color: #555;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

#tri button:hover {
    background-color: #333;
}

#tri .fruit {
    background-color: #FF6666;
}

#tri .fruit:hover {
    background-color: #FF4D4D;
}

#tri .menthe {
    background-color: #66CC99;
}

#tri .menthe:hover {
    background-color: #339966;
}

#tri .frais {
    background-color: #BFEFFF;
}

#tri .frais:hover {
    background-color: #ADD8E6 ;
}

#tri .gourmand {
    background-color: #D2691E;
}

#tri .gourmand:hover {
    background-color: #8B4513;
}

/************************* .Produits ************************/

.produits {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.produit {
    background-color: #f9f9f9;
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.produit:hover {
    transform: translateY(-5px);
}

.produit img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.produit h2 {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 5px;
    text-align: center;
    color: #333;
}

.produit p {
    color: #777;
    font-size: 14px;
    margin-bottom: 15px;
    text-align: center;
}

.produit select {
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
}

.produit .achat {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.produit .achat:hover {
    background-color: #0056b3;
}

/************************* Panier Popup ************************/

#panier {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 40px; 
    height: auto;
}

#panierPopup {
    position: fixed;
    top: 80px;
    right: 0;
    background-color: white;
    border: 1px solid #ccc;
    padding: 20px;
    max-width: 200px;
    width: auto; 

}

#panierPopup.visible {
    display: block;
}

#panierPopup h2 {
    font-size: 24px;
    margin-bottom: 15px;
}

#listeArticles {
    list-style: none;
    padding: 0;
    margin: 0;
}

#listeArticles li {
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}

#totalPanier {
    margin-top: 15px;
    font-weight: bold;
}

/************************* Panier Button ************************/

.delete {
    background-color: #a01e1e;
    color: #fff; 
    padding: 5px 10px;
    margin-left: 2px;
    border: none; 
    border-radius: 3px;
    cursor: pointer; 
}

.delete:hover {
    background-color: #790d0d;
}

#send, #close{
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 2px;
    padding: 8px 14px;
    margin: 2px;
    font-size: 12px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#send:hover, #close:hover {
    background-color: #2980b9;
}

.hidden {
    display: none;
}

/************************* Footer ************************/

.left, .right {
    width: calc(50% - 10px);
    display: inline-block;
    vertical-align: top;
}

.left {
    text-align: left;
    margin-right: 10px;
}

.right {
    text-align: right;
}

.left ul, .right ul {
    list-style: none;
    padding: 0;
}

.left ul li, .right ul li {
    margin-bottom: 10px;
    font-size: 16px;
}

a {
    color: #fff;
}

a:hover {
    text-decoration: underline;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px ;
    text-align: center;
}