/* Reset CSS */
body, h1, h2, h3, p, ul {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* ajouté pour un meilleur comportement du box-model */
}

/* Global styles */
body {
    font-family: 'Roboto', sans-serif; /* mise à jour de la police pour une apparence moderne */
    line-height: 1.6;
    background-color: #f9f9f9; /* légère variation de la couleur de fond */
    color: #555; /* mise à jour de la couleur du texte pour une meilleure lisibilité */
}

.container {
    max-width: 1200px; /* augmentation de la largeur maximale */
    margin: 0 auto;
    padding: 20px;
}

header, footer {
    background-color: #444; /* légère variation de la couleur d'arrière-plan */
    color: #eee; /* amélioration du contraste */
    padding: 20px 0;
    text-align: center;
}

h1, h2, h3 {
    margin-bottom: 20px; /* augmentation de la marge inférieure pour un espacement plus agréable */
}

h1 {
    font-size: 42px; /* légère augmentation de la taille de la police */
    font-weight: 700;
}

h2 {
    font-size: 30px; /* légère augmentation de la taille de la police */
    font-weight: 600; /* mise à jour de la graisse de la police */
    margin-left: 7.5px;
}

h3 {
    font-size: 24px; /* légère augmentation de la taille de la police */
    font-weight: 500;
}

main {
    padding: 20px 0;
}

.service {
    background-color: #fff;
    border-radius: 12px; /* augmentation du rayon de la bordure pour des coins plus doux */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* augmentation de l'ombre pour un effet plus prononcé */
    padding: 30px; /* augmentation de la marge intérieure pour un contenu plus spacieux */
    margin-bottom: 30px; /* augmentation de la marge inférieure pour un espacement plus agréable */
}

.service:hover {
    transform: translateY(-5px); /* Translation vers le haut de 5 pixels */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Augmentation de l'ombre */
}


.service a {
    text-decoration: none; /* Supprimer le soulignement du lien */
    color: #444; /* Couleur du texte pour les liens */
    transition: color 0.3s ease; /* Transition de couleur pour les liens */
}

.service a:hover {
    color: #777; /* Changement de couleur du texte au survol */
}

.service h3 {
    font-size: 28px; /* Taille de police pour les titres */
    font-weight: 700; /* Graisse de la police pour les titres */
    margin-bottom: 10px; /* Marge inférieure pour les titres */
}

.service p {
    font-size: 18px; /* Taille de police pour les paragraphes */
    color: #777; /* Couleur du texte pour les paragraphes */
    line-height: 1.6; /* Hauteur de ligne pour les paragraphes */
}

.left, .right {
    width: 45%;
    display: inline-block;
    vertical-align: top;
}

.left {
    text-align: left;
    margin-right: 10px; /* augmentation de l'espace de marge à droite */
}

.right {
    text-align: right;
}

.left ul, .right ul {
    list-style: none;
    padding: 0;
}

.left ul li, .right ul li {
    margin-bottom: 15px; /* augmentation de la marge inférieure pour un espacement plus agréable */
    font-size: 18px; /* légère augmentation de la taille de la police */
}

a {
    color: #eee; /* amélioration du contraste */
}

a:hover {
    text-decoration: none; /* suppression du soulignement au survol */
    opacity: 0.8; /* légère diminution de l'opacité au survol */
}

footer {
    background-color: #444; /* légère variation de la couleur d'arrière-plan */
    color: #eee;
    padding: 15px 0; /* légère diminution de la rembourrage */
    text-align: center;
}

/* Media Queries pour les appareils de petite taille */
@media (max-width: 768px) {
    .container {
        padding: 10px;
    }

    h1 {
        font-size: 36px; /* réduction de la taille de la police */
    }

    h2 {
        font-size: 24px; /* réduction de la taille de la police */
    }

    h3 {
        font-size: 20px; /* réduction de la taille de la police */
    }

    .service {
        padding: 20px; /* réduction de la marge intérieure */
        margin-bottom: 20px; /* réduction de la marge inférieure */
    }

    .left, .right {
        width: 100%; /* plein largeur pour les colonnes */
        margin-right: 0; /* aucune marge à droite */
        text-align: center; /* centrage du texte */
    }
}

/* Media Queries pour les tablettes */
@media (min-width: 769px) and (max-width: 1024px) {
    .container {
        max-width: 960px; /* réduire la largeur maximale */
    }

    h1 {
        font-size: 38px; /* ajustement de la taille de la police */
    }

    h2 {
        font-size: 28px; /* ajustement de la taille de la police */
    }

    h3 {
        font-size: 22px; /* ajustement de la taille de la police */
    }

    .service {
        padding: 25px; /* ajustement de la marge intérieure */
        margin-bottom: 25px; /* ajustement de la marge inférieure */
    }
}

/* Media Queries pour les ordinateurs de bureau */
@media (min-width: 1025px) and (max-width: 1440px) {
    .container {
        max-width: 1140px; /* réduire la largeur maximale */
    }

    h1 {
        font-size: 42px; /* ajustement de la taille de la police */
    }

    h2 {
        font-size: 32px; /* ajustement de la taille de la police */
    }

    h3 {
        font-size: 26px; /* ajustement de la taille de la police */
    }

    .service {
        padding: 30px; /* ajustement de la marge intérieure */
        margin-bottom: 30px; /* ajustement de la marge inférieure */
    }
}

/* Media Queries pour les appareils de grande taille */
@media (min-width: 1441px) {
    .container {
        max-width: 1200px; /* réduire la largeur maximale */
    }

    h1 {
        font-size: 48px; /* ajustement de la taille de la police */
    }

    h2 {
        font-size: 36px; /* ajustement de la taille de la police */
    }

    h3 {
        font-size: 30px; /* ajustement de la taille de la police */
    }

    .service {
        padding: 35px; /* ajustement de la marge intérieure */
        margin-bottom: 35px; /* ajustement de la marge inférieure */
    }
}
