/************************* Body ************************/

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa; /* Couleur de fond légèrement gris clair */
    text-align: center;
}

/************************* Header ************************/

header {
    background-color:  #343a40 ; /* Couleur de fond foncée pour le header */
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

header h1 {
    margin: 0;
}

/************************* Main ************************/

main {
    padding: 10px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center; 
}

/************************* .Separations ************************/

.separation {
    width: 100%;
    height: 75px;

    margin-top: 45px;
    margin-bottom: 5px;

    background-color: #343a40;
    text-align: center;
}

/************************* .Services ************************/

.service-container {
    display: none;
}

.service-container.visible {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    margin-bottom: 50px;
}

.service {
    background-color: #fff;
    color: #343a40;
    text-decoration: none;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 35px;
    width: 898px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-align: center;
}

.service:hover {
    transform: translateY(-5px); 
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

h2 {
    text-align: center;
    width: 100%; 
}

h3 {
    margin-top: 0;
    color: #333;
}

ul {
    list-style-type: none;
    text-decoration: none;
    padding: 0;
}

abbr {
    border-bottom: 1px dotted #333;
    cursor: help;
}

.ssd {
    border-top: 5px solid #007bff; 
    background-color: #e6f2ff;
}

.os {
    border-top: 5px solid #28a745; 
    background-color: #d4edda; 
}

.reset {
    border-top: 5px solid #dc3545; 
    background-color: #f8d7da; 
}

/************************* Panier Popup ************************/

#panier {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 40px; 
    height: auto;
}

#panierPopup {
    position: fixed;
    top: 80px;
    right: 0; 
    background-color: white;
    border: 1px solid #ccc;
    padding: 20px;
    max-width: 200px;
    width: auto; 

}

#panierPopup.visible {
    display: block;
}

#panierPopup h2 {
    font-size: 24px;
    margin-bottom: 15px;
}

#listeArticles {
    list-style: none;
    padding: 0;
    margin: 0;
}

#listeArticles li {
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}

#totalPanier {
    margin-top: 15px;
    font-weight: bold;
}

/************************* Panier Button ************************/

.delete {
    background-color: #a01e1e;
    color: #fff; 
    padding: 5px 10px;
    margin-left: 2px;
    border: none; 
    border-radius: 3px;
    cursor: pointer; 
}

.delete:hover {
    background-color: #790d0d;
}

#send, #close{
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 2px;
    padding: 8px 14px;
    margin: 2px;
    font-size: 12px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#send:hover, #close:hover {
    background-color: #2980b9;
}

.hidden {
    display: none;
}

/************************* Footer ************************/

.left, .right {
    width: calc(50% - 10px);
    display: inline-block;
    vertical-align: top;
}

.left {
    text-align: left;
    margin-right: 10px;
}

.right {
    text-align: right;
}

.left ul, .right ul {
    list-style: none;
    padding: 0;
}

.left ul li, .right ul li {
    margin-bottom: 10px;
    font-size: 16px;
}

a {
    color: #fff;
    text-decoration: none;
}

footer a {
    text-decoration: underline;
}

footer a:hover {
    color: rgb(160, 166, 172);
}

footer h3 {
    color: white;
}

footer {
    background-color:  #343a40;
    color: #fff;
    padding: 20px ;
    text-align: center;
    position: relative;
    bottom: 0;
}

/* Media Queries pour les smartphones */
@media only screen and (max-width: 768px) {
    header {
        padding: 10px 0;
    }

    .service {
        width: 100%;
        padding: 15px;
        margin-bottom: 20px;
    }

    .left, .right {
        width: 100%;
        margin-right: 0;
        text-align: center;
    }

    footer {
        padding: 15px;
    }
}

/* Media Queries pour les tablettes */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
    .container {
        max-width: 960px;
    }

    header h1 {
        font-size: 28px;
    }

    main {
        padding: 20px;
    }

    .service {
        width: 600px;
    }

    .left, .right {
        width: 100%;
    }
}

/* Media Queries pour les ordinateurs de bureau */
@media only screen and (min-width: 1025px) and (max-width: 1440px) {
    .container {
        max-width: 1140px;
    }

    header h1 {
        font-size: 36px;
    }

    main {
        padding: 30px;
    }

    .service {
        width: 800px;
    }
}

/* Media Queries pour les appareils de grande taille */
@media only screen and (min-width: 1441px) {
    .container {
        max-width: 1200px;
    }

    header h1 {
        font-size: 42px;
    }

    main {
        padding: 40px;
    }

    .service {
        width: 898px;
    }
}
